{% extends "base.html" %}
{% block content %}

<div class="card">
<h3>Novo lançamento</h3>
  <hr>
<h3>Importar Excel</h3>
<form method="post" action="/import" enctype="multipart/form-data">
  <input type="file" name="file" required>
  <button>Importar</button>
</form>
<form method="post" action="/add">
<input name="competence_date" placeholder="YYYY-MM-DD" required><br><br>

<select name="type">
{% for t in types %}
<option>{{t}}</option>
{% endfor %}
</select><br><br>

<select name="category">
{% for c in categories %}
<option>{{c}}</option>
{% endfor %}
</select><br><br>

<input name="description" placeholder="Descrição" required><br><br>

<select name="payment_method">
{% for m in payment_methods %}
<option>{{m}}</option>
{% endfor %}
</select><br><br>

<input name="amount" placeholder="Valor" required><br><br>

<button>Salvar</button>
</form>
</div>

<div class="card">
<h3>Resumo {{ ym }}</h3>
<p>Receitas: {{ brl(income) }}</p>
<p>Despesas: {{ brl(expense) }}</p>
<p>Saldo: {{ brl(balance) }}</p>
</div>

<div class="card">
<h3>Lançamentos</h3>
<table>
<tr><th>Data</th><th>Tipo</th><th>Categoria</th><th>Desc</th><th>Método</th><th class="right">Valor</th></tr>
{% for t in txs %}
<tr>
<td>{{t["competence_date"]}}</td>
<td>{{t["type"]}}</td>
<td>{{t["category"]}}</td>
<td>{{t["description"]}}</td>
<td>{{t["payment_method"]}}</td>
<td class="right">{{ brl(t["amount_cents"]) }}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
